# Veri Manipulasyonu 201: Pandas

1. sozlukten Dataframe olusturma:  pd.DataFrame()

In [3]:
isimler = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
direks_sag =  [True, False, False, False, True, True, True]
arac_sayisi = [809, 731, 588, 18, 200, 70, 45]   # 10bin kisi basina dusen arac sayisi

# pandas kutuphanesini import ediniz
import pandas as pd

# verilen listeleri kullanarak sozlugum adli bir sozluk olusturunuz. 
# degisken adlari:  ulkeler,  direksiyon_sag,  arac_sayisi
sozlugum = { 'ulkeler':isimler, "direks_sag":direks_sag, "arac_sayisi":arac_sayisi }

# 'sozlugum' adli sozluk u Dataframe e ceviriniz: 'araclar' ismi ile kaydediniz
araclar = pd.DataFrame(sozlugum)

# bu dataframe i yazdiriniz
print(araclar)

         ulkeler  direks_sag  arac_sayisi
0  United States        True          809
1      Australia       False          731
2          Japan       False          588
3          India       False           18
4         Russia        True          200
5        Morocco        True           70
6          Egypt        True           45

2. gozlem indeksleri atama: df.index =

In [4]:
satir_indeksleri = ['US', 'AUS', 'JAP', 'IN', 'RU', 'MOR', 'EG']

# verilen diziyi araclar dataframe inin indeksi icin kullaniniz (atayiniz)
araclar.index = satir_indeksleri

# araclar dataframe ini tekrar yazdiriniz
print(araclar)

           ulkeler  direks_sag  arac_sayisi
US   United States        True          809
AUS      Australia       False          731
JAP          Japan       False          588
IN           India       False           18
RU          Russia        True          200
MOR        Morocco        True           70
EG           Egypt        True           45

3. csv dosyasi okuma:

In [5]:
# pandas i import ediniz:
import pandas as pd

# cars.csv  dosyasini cars adi ile kaydediniz
cars = pd.read_csv("cars.csv")

# cars verisinin ilk 5 gozlemini yazdiriniz
print(cars.head())

# cars.columns[0] = ["kisa_ad"]     unnamed: 0  kolonunun ismini degistirebilirsiniz
new_columns = cars.columns.values
new_columns[0] = "country_initial"
cars.columns = new_columns

print(cars.head())

  Unnamed: 0  cars_per_cap        country  drives_right
0         US           809  United States          True
1        AUS           731      Australia         False
2        JAP           588          Japan         False
3         IN            18          India         False
4         RU           200         Russia          True
  country_initial  cars_per_cap        country  drives_right
0              US           809  United States          True
1             AUS           731      Australia         False
2             JAP           588          Japan         False
3              IN            18          India         False
4              RU           200         Russia          True

4. ilk kolonu satirlarin indeksi olarak acmak icin kulanilan arguman:  index_col = 0

In [9]:
# ilk sutun gozlemlerin indeksi olarak belirlenmis olarak csv dosyasini okuyunuz:
cars = pd.read_csv('cars.csv', index_col = 0)


# cars verisini tekrar yazdiriniz
print(cars)

# alternatif cozum
#cars = pd.read_csv("cars.csv")
#cars = cars.set_index("Unnamed: 0")
#print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

5. Koseli parantezle degisken secme :

In [10]:
print(cars.shape)
print(len(cars.index), len(cars.columns))

(7, 3)
7 3

In [11]:
# country degiskenini bir Pandas Series olarak yazdiriniz
print(cars['country'])

# country degiskenini bir  Pandas DataFrame olarak yazdiriniz
print(cars[['country']])

# dataframe in sadece country ve drives_right degiskenlerini secerek yazdiriniz

US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object
           country
US   United States
AUS      Australia
JAP          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt

6. Koseli parantezle gozlem secme :

In [14]:
# cars verisinin ilk 3 gozlemi yazdiriniz
print(cars[0:3])

# 4. 5. ve 6. gozlemleri yazdiriniz
print(cars[3:6])

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
     cars_per_cap  country  drives_right
IN             18    India         False
RU            200   Russia          True
MOR            70  Morocco          True

7. loc ve iloc:

In [56]:
# sadece Japonya ya ait bilgileri yazdiriniz
print(cars.loc["JAP"])
#print(cars[cars.index == "JAP"])


# Avusturya ve Misira ait bilgileri yazdiriiniz
print(cars.loc[["AUS", "EG"]])

cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object
     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True

8. loc ve iloc 2:

In [61]:
# Morocco a ait drives_right bilgisini yazdiriniz
print(cars.loc['MOR','drives_right'])

# rusya ve morocco nun country ve drives_right bilgilerini yazdiriniz:
print(cars.loc[["RU", "MOR"],  ["country", "drives_right"]])

True
     country  drives_right
RU    Russia          True
MOR  Morocco          True

9. loc ve iloc 3:

In [63]:
# drives_right kolonunu(degiskenini) bir Series olarak yazdiriniz:
print(cars.loc[:,'drives_right'])

# drives_right kolonunu(degiskenini) bir DataFrame olarak yazdiriniz:
print(cars.loc[:,['drives_right']])

# cars_per_cap ve drives_right kolonlarini(degiskenlerini) bir DataFrame olarak yazdiriniz:
print(cars.loc[:, ["cars_per_cap", "drives_right"]])

US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool
     drives_right
US           True
AUS         False
JAP         False
IN          False
RU           True
MOR          True
EG           True
     cars_per_cap  drives_right
US            809          True
AUS           731         False
JAP           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True

10. Pandas DataFrame uzerinde filtreleme:     df[df['column1']]

In [65]:
# sag direksiyonlu olanlari ifade eden drives_right kolonunu bir Series olarak dr adiyla kaydediniz: dr
dr = cars.loc[:, "drives_right"]


#  dr i kullanarak cars dataframini filtreleyiniz, secilen adi ile kaydediniz: secilen
# (burada dr icindeki True lara karsilik gelen gozlemleri secilir, digerleri secilmez)
secilen = cars[dr]

# secilen  dataframini yazdiriniz
print(secilen)

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

11. tek satirda ayni islem:

In [ ]:
# Yukaridaki secme isleminin aynisini tek satirda yapiniz:
secilen = cars[cars['drives_right']]

# secilen  dataframe ini yazdiriniz:
print(secilen)

12. Filtreleme-Secme 2:

In [68]:
# cars_per_cap degeri 500 den buyuk olan degerleri seciniz. bu veriyi  car_maniac  adiyla kaydediniz 
#car_maniac = cars.loc[cars.cars_per_cap > 500]
car_maniac = cars.loc[cars["cars_per_cap"] > 500]

#  car_maniac  verisini yazdiriniz
print(car_maniac)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

13. Filtreleme-Secme 3:

BILGI:
cpc = cars['cars_per_cap']
cars[ (cpc > 10) & (cpc < 80) ]

veya 

cpc = cars['cars_per_cap']
cars[ np.logical_and(cpc > 10, cpc < 80) ]

In [78]:
import numpy as np

# cars_per_cap degeri 500 den buyuk ve 100 den kucuk olan degerleri seciniz. bu veriyi  medium  adiyla kaydediniz
medium = cars.loc[(cars.cars_per_cap > 500) | (cars.cars_per_cap < 100)]

# medium u yazdiriniz
print(medium)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
MOR            70        Morocco          True
EG             45          Egypt          True

14. DataFrame uzerinde dongu

BILGI:

for idx, satir in df.iterrows() :
    ...

In [93]:
# cars uzerinde for ile dongu kurarak degisken adini ve o degiskenin gozlemlerini yazdiriniz
for index, row in cars.iterrows():
    print(index)
    print(row)
    print("\n")

US
cars_per_cap              809
country         United States
drives_right             True
Name: US, dtype: object


AUS
cars_per_cap          731
country         Australia
drives_right        False
Name: AUS, dtype: object


JAP
cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object


IN
cars_per_cap       18
country         India
drives_right    False
Name: IN, dtype: object


RU
cars_per_cap       200
country         Russia
drives_right      True
Name: RU, dtype: object


MOR
cars_per_cap         70
country         Morocco
drives_right       True
Name: MOR, dtype: object


EG
cars_per_cap       45
country         Egypt
drives_right     True
Name: EG, dtype: object

BILGI:

for sutun, satir in df.iterrows() :
    print(satir['country'])

15. DataFrame uzerinde dongu-2

US: 809
AUS: 731
JAP: 588
IN: 18
RU: 200
MOR: 70
EG: 45

In [100]:
# bir ustteki hucrede yazilan ciktiyi veren kodlari yaziniz. (cars dataframe'inin uzerinde dongu kullanarak)
for sutun, rows in cars.iterrows():
    print(sutun + ": " + str(rows.cars_per_cap))

US: 809
AUS: 731
JAP: 588
IN: 18
RU: 200
MOR: 70
EG: 45

16. Dongu ile dataframe'e ait olan bir degiskeni alip, bir islem yapip baska bir degisken olarak dataframe'e ekleme

In [106]:
cpc = cars["cars_per_cap"] + 1000
cars["cpc"] = cpc
cars

     cars_per_cap        country  drives_right   cpc
US            809  United States          True  1809
AUS           731      Australia         False  1731
JAP           588          Japan         False  1588
IN             18          India         False  1018
RU            200         Russia          True  1200
MOR            70        Morocco          True  1070
EG             45          Egypt          True  1045

In [137]:
# Cars verisi uzerinde goruldugu gibi country adli bir degisken(kolon) var. df uzerinde for dongusu ile bu degiskeni kullanip 
# ayni ulke isimlerinin buyuk harfli halini barindiran yeni bir degisken olusturup bu veriye ekleyiniz.
# yeni degiskenin adi: COUNTRY seklinde olsun
cars = pd.read_csv('cars.csv', index_col = 0)
for index, row in cars.iterrows():
    cars.loc[index, "COUNTRY"] = str(row["country"]).upper()
    #cars["COUNTRY"] = str(cars["country"]).upper()
    #print(cars["country"])

    
# df i yazdiriniz
print("\n------------------------")
print(cars)

------------------------
     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT

17. dongu yerine .apply() methodu:

BILGI: Asagida verilen iki kod parcacigi ayni isi yapar:

for degisken, gozlem in df.iterrows() :
    df.loc[degisken, "name_length"] = len(gozlem["country"])

df["name_length"] = df["country"].apply(len)

In [139]:
import pandas as pd
# cars verisinin ilk halini tekrar cagiralim:
cars = pd.read_csv('cars.csv', index_col = 0)

# 16. adimda yapilan ayni seyi .apply(str.upper)  yontemi ile yapiniz. (Bilgiye dikkat!)
cars["COUNTRY"] = cars["country"].apply(lambda x: str(x).upper())

# cars df sini yazdiriniz
print(cars)

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT

## homeless_data verisi uzerinde calisalim:

In [141]:
import pandas as pd
df = pd.read_pickle("homeless_data.pkl")

18. df nin ilk bes gozlemini yazdirin

In [142]:
df.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

19. df hakkinda yapisal bilgileri yazdirin

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     float64
 3   family_members  51 non-null     float64
 4   state_pop       51 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.4+ KB

20. df 'nin boyutunu yazdirin

In [147]:
df.shape

(51, 5)

21. df'in degiskenlerinin istatistiklerini yazdirin

In [149]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
individuals,51.0,7.225784e+03,1.599103e+04,434.0,1446.5,3082.0,6781.5,109008.0
family_members,51.0,3.504882e+03,7.805412e+03,75.0,592.0,1482.0,3196.0,52070.0
state_pop,51.0,6.405637e+06,7.327258e+06,577601.0,1777413.5,4461153.0,7340946.5,39461588.0

22. df'i iki boyutlu numpy arrayi olarak yazdirin

In [150]:
df.values

array([['East South Central', 'Alabama', 2570.0, 864.0, 4887681],
       ['Pacific', 'Alaska', 1434.0, 582.0, 735139],
       ['Mountain', 'Arizona', 7259.0, 2606.0, 7158024],
       ['West South Central', 'Arkansas', 2280.0, 432.0, 3009733],
       ['Pacific', 'California', 109008.0, 20964.0, 39461588],
       ['Mountain', 'Colorado', 7607.0, 3250.0, 5691287],
       ['New England', 'Connecticut', 2280.0, 1696.0, 3571520],
       ['South Atlantic', 'Delaware', 708.0, 374.0, 965479],
       ['South Atlantic', 'District of Columbia', 3770.0, 3134.0, 701547],
       ['South Atlantic', 'Florida', 21443.0, 9587.0, 21244317],
       ['South Atlantic', 'Georgia', 6943.0, 2556.0, 10511131],
       ['Pacific', 'Hawaii', 4131.0, 2399.0, 1420593],
       ['Mountain', 'Idaho', 1297.0, 715.0, 1750536],
       ['East North Central', 'Illinois', 6752.0, 3891.0, 12723071],
       ['East North Central', 'Indiana', 3776.0, 1482.0, 6695497],
       ['West North Central', 'Iowa', 1711.0, 1038.0, 3148618],
       ['West North Central', 'Kansas', 1443.0, 773.0, 2911359],
       ['East South Central', 'Kentucky', 2735.0, 953.0, 4461153],
       ['West South Central', 'Louisiana', 2540.0, 519.0, 4659690],
       ['New England', 'Maine', 1450.0, 1066.0, 1339057],
       ['South Atlantic', 'Maryland', 4914.0, 2230.0, 6035802],
       ['New England', 'Massachusetts', 6811.0, 13257.0, 6882635],
       ['East North Central', 'Michigan', 5209.0, 3142.0, 9984072],
       ['West North Central', 'Minnesota', 3993.0, 3250.0, 5606249],
       ['East South Central', 'Mississippi', 1024.0, 328.0, 2981020],
       ['West North Central', 'Missouri', 3776.0, 2107.0, 6121623],
       ['Mountain', 'Montana', 983.0, 422.0, 1060665],
       ['West North Central', 'Nebraska', 1745.0, 676.0, 1925614],
       ['Mountain', 'Nevada', 7058.0, 486.0, 3027341],
       ['New England', 'New Hampshire', 835.0, 615.0, 1353465],
       ['Mid-Atlantic', 'New Jersey', 6048.0, 3350.0, 8886025],
       ['Mountain', 'New Mexico', 1949.0, 602.0, 2092741],
       ['Mid-Atlantic', 'New York', 39827.0, 52070.0, 19530351],
       ['South Atlantic', 'North Carolina', 6451.0, 2817.0, 10381615],
       ['West North Central', 'North Dakota', 467.0, 75.0, 758080],
       ['East North Central', 'Ohio', 6929.0, 3320.0, 11676341],
       ['West South Central', 'Oklahoma', 2823.0, 1048.0, 3940235],
       ['Pacific', 'Oregon', 11139.0, 3337.0, 4181886],
       ['Mid-Atlantic', 'Pennsylvania', 8163.0, 5349.0, 12800922],
       ['New England', 'Rhode Island', 747.0, 354.0, 1058287],
       ['South Atlantic', 'South Carolina', 3082.0, 851.0, 5084156],
       ['West North Central', 'South Dakota', 836.0, 323.0, 878698],
       ['East South Central', 'Tennessee', 6139.0, 1744.0, 6771631],
       ['West South Central', 'Texas', 19199.0, 6111.0, 28628666],
       ['Mountain', 'Utah', 1904.0, 972.0, 3153550],
       ['New England', 'Vermont', 780.0, 511.0, 624358],
       ['South Atlantic', 'Virginia', 3928.0, 2047.0, 8501286],
       ['Pacific', 'Washington', 16424.0, 5880.0, 7523869],
       ['South Atlantic', 'West Virginia', 1021.0, 222.0, 1804291],
       ['East North Central', 'Wisconsin', 2740.0, 2167.0, 5807406],
       ['Mountain', 'Wyoming', 434.0, 205.0, 577601]], dtype=object)

23. df'in degisken(kolon) isimlerini bir baska degisle kolon index isimlerini yazdirin

In [151]:
df.columns

Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')

24. df'in gozlem(satir) indekslerini yazdirin

In [152]:
df.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49,
            50],
           dtype='int64')

25. df.sort_values('variable_name')

In [155]:
# df i  individual degiskenine gore siralayiniz.  df_ind ile kaydediniz
df_ind = df.sort_values("individuals")


# df_ind  in ilk 5 gozlemini yazdiriniz
print(df_ind.head())

                region         state  individuals  family_members  state_pop
50            Mountain       Wyoming        434.0           205.0     577601
34  West North Central  North Dakota        467.0            75.0     758080
7       South Atlantic      Delaware        708.0           374.0     965479
39         New England  Rhode Island        747.0           354.0    1058287
45         New England       Vermont        780.0           511.0     624358

26. df.sort_values('variable_name', ascending=False )

In [156]:
# df i family members degiskenine gore tersten (buyukten kucuge) siralayiniz.    df_fam adi ile kaydediniz 
# (ascending=duz=kucukten buyuge)
df_fam = df.sort_values("family_members", ascending = False)

# df_fam in ilk 5 gozlemini yazdiriniz
print(df_fam.head())

                region          state  individuals  family_members  state_pop
32        Mid-Atlantic       New York      39827.0         52070.0   19530351
4              Pacific     California     109008.0         20964.0   39461588
21         New England  Massachusetts       6811.0         13257.0    6882635
9       South Atlantic        Florida      21443.0          9587.0   21244317
43  West South Central          Texas      19199.0          6111.0   28628666

27. df.sort_values(['variable_name1','variable_name2'], ascending=[False,False] )

In [157]:
# df i region degiskenine gore duz ve bu siralamanin uzerine ayni zamanda family members degiskenine gore tersten siralayiniz.    
# df_reg_fam adi ile kaydediniz 
df_reg_fam = df.sort_values(["region", "family_members"], ascending = [True, False])

# df_reg_fam in ilk 5 gozlemini yazdiriniz
print(df_reg_fam.head())

                region      state  individuals  family_members  state_pop
13  East North Central   Illinois       6752.0          3891.0   12723071
35  East North Central       Ohio       6929.0          3320.0   11676341
22  East North Central   Michigan       5209.0          3142.0    9984072
49  East North Central  Wisconsin       2740.0          2167.0    5807406
14  East North Central    Indiana       3776.0          1482.0    6695497

28. var = df['variable_name']

In [158]:
#  individuals  degiskenini seciniz ve individuals adi ile kaydediniz
individuals = df["individuals"]


# individuals in ilk 5 gozlemini yazdiriniz
print(individuals.head())

0      2570.0
1      1434.0
2      7259.0
3      2280.0
4    109008.0
Name: individuals, dtype: float64

29. df[['variable_name1','variable_name2']]

In [159]:
# state ve family_members degiskenlerini seciniz:   state_fam 
state_fam = df[["state", "family_members"]]

# sonucun bas kismini yazdiriniz
print(state_fam.head())

        state  family_members
0     Alabama           864.0
1      Alaska           582.0
2     Arizona          2606.0
3    Arkansas           432.0
4  California         20964.0

In [160]:
# individuals ve state columns degiskenlerini seciniz:  ind_state
ind_state = df[["state", "individuals"]]


# sonucun bas kismini yazdiriniz
print(ind_state.head())

        state  individuals
0     Alabama       2570.0
1      Alaska       1434.0
2     Arizona       7259.0
3    Arkansas       2280.0
4  California     109008.0

30. df[ df['variable'] > 100 ]

In [161]:
# individuals degerinin  10000  den fazla oldugu gozlemleri seciniz:  ind_buyuk_10k
ind_buyuk_10k = df[df["individuals"] > 10000]

# ind_buyuk_10k u yazdiriniz
print(ind_buyuk_10k)

                region       state  individuals  family_members  state_pop
4              Pacific  California     109008.0         20964.0   39461588
9       South Atlantic     Florida      21443.0          9587.0   21244317
32        Mid-Atlantic    New York      39827.0         52070.0   19530351
37             Pacific      Oregon      11139.0          3337.0    4181886
43  West South Central       Texas      19199.0          6111.0   28628666
47             Pacific  Washington      16424.0          5880.0    7523869

31. df[ df['variable']=='example' ]

In [162]:
#  region degiskeni  Mountain  olan gozlemleri deciniz:  mountain_reg
mountain_reg = df[df["region"] == "Mountain"]


# sonucu gorelim
print(mountain_reg)

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
5   Mountain    Colorado       7607.0          3250.0    5691287
12  Mountain       Idaho       1297.0           715.0    1750536
26  Mountain     Montana        983.0           422.0    1060665
28  Mountain      Nevada       7058.0           486.0    3027341
31  Mountain  New Mexico       1949.0           602.0    2092741
44  Mountain        Utah       1904.0           972.0    3153550
50  Mountain     Wyoming        434.0           205.0     577601

32. df[(df["variable1"] < 100) & (df["variable2"] == "example")]

In [164]:
# family_members degeri 1000 den kucuk olan ve region i Pacific  olan gozlemleri seciniz: fam_buyuk_1k_pac
fam_buyuk_1k_pac = df[(df["region"] == "Pacific") & (df["family_members"] < 1000)]

# sonucu gorelim
print(fam_buyuk_1k_pac)

    region   state  individuals  family_members  state_pop
1  Pacific  Alaska       1434.0           582.0     735139

33. df["variable"] .isin([a,b,c,d])

BILGI:

colors = ["brown", "black", "tan"]
condition = dogs["color"].isin(colors)
dogs[condition]

veya

colors = ["brown", "black", "tan"]
dogs[ dogs["color"].isin(colors) ]

In [167]:
# region degiskeni   South Atlantic  veya  Mid-Atlantic  olan gozlemleri seciniz:  south_mid_atlantic
south_mid_atlantic = df[df["region"].isin(["South Atlantic", "Mid-Atlantic"])]


# gorelim
print(south_mid_atlantic)

            region                 state  individuals  family_members  \
7   South Atlantic              Delaware        708.0           374.0
8   South Atlantic  District of Columbia       3770.0          3134.0
9   South Atlantic               Florida      21443.0          9587.0
10  South Atlantic               Georgia       6943.0          2556.0
20  South Atlantic              Maryland       4914.0          2230.0
30    Mid-Atlantic            New Jersey       6048.0          3350.0
32    Mid-Atlantic              New York      39827.0         52070.0
33  South Atlantic        North Carolina       6451.0          2817.0
38    Mid-Atlantic          Pennsylvania       8163.0          5349.0
40  South Atlantic        South Carolina       3082.0           851.0
46  South Atlantic              Virginia       3928.0          2047.0
48  South Atlantic         West Virginia       1021.0           222.0

    state_pop
7      965479
8      701547
9    21244317
10   10511131
20    6035802
30    8886025
32   19530351
33   10381615
38   12800922
40    5084156
46    8501286
48    1804291

34. df[df['column'].isin(a_list)]

In [171]:
cities = ["California", "Arizona", "Nevada", "Utah"]

# state degiskeni  cities  listesinin icinde olan gozlemleri seciniz/filtreleyiniz:  cities_df
cities_df = df[df["state"].isin(cities)]

# gorelim
print(cities_df)

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
4    Pacific  California     109008.0         20964.0   39461588
28  Mountain      Nevada       7058.0           486.0    3027341
44  Mountain        Utah       1904.0           972.0    3153550

35. Simple Feature Engineering

In [207]:
# individuals  ve  family_members  degiskenlerinin toplamini belirten  total  adli bir degisken ekleyiniz
df["total"] = df["individuals"] + df["family_members"]

# tek yasayan evsizlerin tum evsizlere olan oranini belirten bir degisken ekleyiniz: o_individuals
# bunu  individuals / total ile bulabiliriz:
df["o_individuals"] = df["individuals"] / df["individuals"]


# df.head() in son hali:
#print(df.head())
print(df.head())

               region       state  individuals  family_members  state_pop  \
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

      total  o_individuals
0    3434.0            1.0
1    2016.0            1.0
2    9865.0            1.0
3    2712.0            1.0
4  129972.0            1.0

36. Simple Feature Engineering

In [208]:
# tek yasayan evsizlerin sehir populasyonuna oranini bulunuz, bu kisi basi kac tane evsiz oldugu anlamina gelir
# bu orani 10000 ile carparsak 10000 kiside kac tane evsiz vardir buna ulasiriz
# bu bilgiyi  indiv_per_10k  degisken adi ile df e ekleyiniz
df["indiv_per_10k"] = df["individuals"] / df["state_pop"] * 10000


# 10000 kiside 20 den fazla evsizin bulundugu sehirleri seciniz/filtreleyiniz, yeni df yi  high_df  adi ile kaydediniz
high_df = df[df["indiv_per_10k"] > 20]


# high_df  dataframeini  indiv_per_10k  degiskenine gore buyukten kucuge dogru siralayiniz: high_df_srt
high_df_srt = high_df.sort_values(['indiv_per_10k'], ascending=False)

# high_df_srt  dataframinin  state  ve  indiv_per_10k   degiskenlerini seciniz: sonuc
sonuc = high_df_srt[['state','indiv_per_10k']]

# gorelim
print(sonuc)

                   state  indiv_per_10k
8   District of Columbia      53.738381
11                Hawaii      29.079406
4             California      27.623825
37                Oregon      26.636307
28                Nevada      23.314189
47            Washington      21.829195
32              New York      20.392363

## Aggregating

### ozet istatistikler

In [209]:
import pandas as pd
# !!!  yukaridaki dataframe i df olarak kaydettik, buradaki dataframe i farkli bir isimle kaydedelim:
satislar = pd.read_pickle("walmart_sales.pkl")

37. satislar dataframe'inin ilk bes gozlemini yazdiriniz

In [211]:
satislar.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,2,2010-02-05,50605.27,False,5.727778,0.679451,8.106
2,1,A,3,2010-02-05,13740.12,False,5.727778,0.679451,8.106
3,1,A,4,2010-02-05,39954.04,False,5.727778,0.679451,8.106
4,1,A,5,2010-02-05,32229.38,False,5.727778,0.679451,8.106

38. satislar dataframe'i hakkinda yapisal bilgileri yazdirin

In [212]:
satislar.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 413119 entries, 0 to 413118
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   store                 413119 non-null  int64
 1   type                  413119 non-null  object
 2   department            413119 non-null  int32
 3   date                  413119 non-null  datetime64[ns]
 4   weekly_sales          413119 non-null  float64
 5   is_holiday            413119 non-null  bool
 6   temperature_c         413119 non-null  float64
 7   fuel_price_usd_per_l  413119 non-null  float64
 8   unemployment          413119 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(4), int32(1), int64(1), object(1)
memory usage: 27.2+ MB

39. weekly_sales degiskeninin ortalamasini yazdiriniz:

In [218]:
satislar["weekly_sales"].mean()

16094.726811185497

40. weekly_sales degiskeninin ortanca degerini yazdiriniz:

In [219]:
satislar["weekly_sales"].median()

7682.47

41. Son satilan urun hangi tarihte satilmistir

In [220]:
satislar["date"].max()

Timestamp('2012-10-26 00:00:00')

42. Ilk satilan urun hangi tarihte satilmistir

In [221]:
satislar["date"].min()

Timestamp('2010-02-05 00:00:00')

43. satislar['variable'].agg(a_function)

df.column.agg(function)

df['column1','column2','column3'].agg(['function1','function2'])

In [222]:
# kendi tanimladigimiz bir IQR fonk u:
def iqr(kolon):
    #Bu fonk, gelen kolonlarin 3.ceyrek degeri ile 1.ceyrek degeri arasindaki farki geri dondurur"""
    return kolon.quantile(0.75) - kolon.quantile(0.25)
    
# satis dataframe inin  temperature_c  degiskeninin  IQR  degerini yazdiralim
# DIKKAT! : bir fonk agg() ile kullanilinca () ve parametre kullanilmaz. 
# agg(fonk)  seklinde yazildiginda parametresini otomatik alir
print(satislar['temperature_c'].agg(iqr))

15.299999999999994

In [235]:
# yukaridaki gibi temperature_c, fuel_price_usd_per_l ve unemployment degiskenlerinin IQR degerlerini yazdiriniz
satislar[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg(iqr)

temperature_c           15.300000
fuel_price_usd_per_l     0.211866
unemployment             1.672000
dtype: float64

In [236]:
import numpy as np
# yukaridaki kodu editleyip, iqr fonksiyonu ile birlikte np.median fonk unu da beraber aggregate ediniz
satislar[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr, np.median])

        temperature_c  fuel_price_usd_per_l  unemployment
iqr             15.30              0.211866         1.672
median          16.75              0.911922         7.852

## Kumulatif islemler

In [237]:
# store 1 ve department 1 secilip ilk 20 gozlem uzerinde calisalim: 
# bu dataframe'i satislar1 adiyla kaydedelim.
satislar1 = satislar[  (satislar['store']==1) & (satislar['department']==1 )  ]
satislar1 = satislar1[:20]

In [238]:
satislar1.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
73,1,A,1,2010-02-12,46039.49,True,3.616667,0.673111,8.106
145,1,A,1,2010-02-19,41595.55,False,4.405556,0.664129,8.106
218,1,A,1,2010-02-26,19403.54,False,8.127778,0.676545,8.106
290,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106

44. Feature Engineering: .cumsum() .cummax()

In [240]:
# satislar i date e gore siralayiniz ve ayni isimle kaydediniz: satislar1
satislar1 = satislar.sort_values("date")

# satislar1 i weekly_sales e gore kumulatif toplamini aliniz ve 
# cum_weekly_sales adiyla yeni bir degisken olarak atayiniz
satislar1['cum_weekly_sales'] = satislar1.weekly_sales.cumsum()

# satislar1 i weekly_sales e gore kumulatif max ini aliniz ve 
# cum_max_sales adiyla yeni bir degisken olarak atayiniz
satislar1["cum_max_sales"] = satislar1["weekly_sales"].cummax()

# ilgili degiskenleri secip yazdiriniz
print(satislar1[["date", "weekly_sales", "cum_weekly_sales", "cum_max_sales"]])

             date  weekly_sales  cum_weekly_sales  cum_max_sales
0      2010-02-05      24924.50      2.492450e+04       24924.50
10287  2010-02-05       2357.00      2.728150e+04       24924.50
10286  2010-02-05      30328.88      5.761038e+04       30328.88
10285  2010-02-05         27.50      5.763788e+04       30328.88
10284  2010-02-05       8788.47      6.642635e+04       30328.88
...           ...           ...               ...            ...
157399 2012-10-26       2167.70      6.648959e+09      693099.36
157400 2012-10-26       7285.14      6.648966e+09      693099.36
157401 2012-10-26      15279.13      6.648981e+09      693099.36
157403 2012-10-26      18290.34      6.649000e+09      693099.36
413118 2012-10-26      37857.64      6.649037e+09      693099.36

[413119 rows x 4 columns]

Bu soruda, satislar verisini tarihe gore siraladik, her hafta o haftaya kadar olan toplam satisi hesapladik, ve her hafta o haftaya kadar gecen haftalar icindeki max satisi mevcut haftaya yazdik.

45. df.drop_duplicates(['var1'])

In [254]:
satislar2 = satislar[['store','type','department','is_holiday']]

# store degiskeni tekrar eden gozlemleri teke dusurelim:  store
store = satislar2.drop_duplicates(['store'])
print(store.head())

# store/type ikilisi olarak tekrar eden gozlemleri teke dusurelim:  store_types
store_types = satislar2.drop_duplicates(['store','type'])
print(store_types.head())

# store/department ikilisi olarak tekrar eden gozlemleri teke dusurunuz:  store_depts
store_depts = satislar2.drop_duplicates(["store", "department"])
print(store_depts.head())

       store type  department  is_holiday
0          1    A           1       False
10244      2    A           1       False
20482      3    B           1       False
29518      4    A           1       False
39790      5    B           1       False
       store type  department  is_holiday
0          1    A           1       False
10244      2    A           1       False
20482      3    B           1       False
29518      4    A           1       False
39790      5    B           1       False
   store type  department  is_holiday
0      1    A           1       False
1      1    A           2       False
2      1    A           3       False
3      1    A           4       False
4      1    A           5       False

In [242]:
# satislar in tatil olan gozlemlerini seciniz ve bunlar uzerinde date e gore tekrar edenleri teke dusurunuz (unique)
# satislar_tatil adi ile kaydediniz
satislar_tatil = satislar[satislar["is_holiday"] == True].drop_duplicates(["date"])

# tatil iken haftalik satislari yazdiriniz
print(satislar_tatil[['date','weekly_sales']])

           date  weekly_sales
73   2010-02-12      46039.49
2218 2010-09-10      18194.74
3014 2010-11-26      18820.29
3372 2010-12-31      19124.58
3800 2011-02-11      37887.17
5940 2011-09-09      17746.68
6731 2011-11-25      20911.25
7096 2011-12-30      23350.88
7527 2012-02-10      36988.49
9667 2012-09-07      18322.37

46. df['variable'].value_counts()

In [255]:
# Tipine gore magaza sayilarini bulunuz: 
store.columns
store_counts = store["type"].value_counts()
store_counts

A    22
B    17
C     6
Name: type, dtype: int64

47. df['variable'].value_counts(normalize=True)

In [256]:
# Tipine gore magaza oranlarini bulunuz:
store_props = store["type"].value_counts(normalize = True) * 100
store_props

A    48.888889
B    37.777778
C    13.333333
Name: type, dtype: float64

48. df['variable'].value_counts(sort=True)

In [260]:
# Tipine gore magazalarin departman sayilari, sirali olarak yazdiriniz: 
dept_counts_sorted = store_depts["department"].value_counts(sort = True)
dept_counts_sorted

1     45
9     45
4     45
6     45
8     45
      ..
37    20
50    14
43     5
39     5
65     1
Name: department, Length: 81, dtype: int64

45 magazada departman1 varmis
45 magazada departman9 varmis
...
sadece 1 tane magazada departman65 varmis

In [261]:
# yukaridaki sonucun oransal degerleri ve siralanmis hali berabear yazdiralim:
dept_props_sorted = store_depts['department'].value_counts(sort=True, normalize=True)
print(dept_props_sorted)

1     0.013778
9     0.013778
4     0.013778
6     0.013778
8     0.013778
        ...
37    0.006124
50    0.004287
43    0.001531
39    0.001531
65    0.000306
Name: department, Length: 81, dtype: float64

49.

In [263]:
# Haftalik satislarin tumunun toplami:
satislar_hepsi = satislar["weekly_sales"].sum()

# A tipinde olan magazalarin tumunun hafalik satis toplamini hesaplayiniz: satislar_A adi ile kaydedinz
satislar_A = satislar[satislar["type"] == "A"]["weekly_sales"].sum()

# B tipinde olan magazalarin tumunun haftalik satis toplamini hesaplayiniz: satislar_B adi ile kaydedinz
satislar_B = satislar[satislar["type"] == "B"]["weekly_sales"].sum()

# C tipinde olan magazalarin tumunun haftalik satis toplamini hesaplayiniz: satislar_C adi ile kaydedinz
satislar_C = satislar[satislar["type"] == "C"]["weekly_sales"].sum()

print([satislar_A, satislar_B, satislar_C])


# Herbirinin oranlari:
satislarin_oranlari = [satislar_A, satislar_B, satislar_C] / satislar_hepsi
print(satislarin_oranlari)

[4331014722.749999, 1912519195.2199998, 405503527.53999996]
[0.65137469 0.28763851 0.0609868 ]

50.

In [264]:
# type a gore guruplayiniz, magaza tiplerinin haftalik satis toplamlarini bulunuz: satislar_tipe_gore
satislar_tipe_gore = satislar.groupby("type")["weekly_sales"].sum()
print( satislar_tipe_gore )


# satis miktarlarini (uc tipin miktarlari) toplamlarina bolerek oranlarini bulunuz
satislar_orani = satislar_tipe_gore/sum(satislar_tipe_gore)
print(satislar_orani)

type
A    4.331015e+09
B    1.912519e+09
C    4.055035e+08
Name: weekly_sales, dtype: float64
type
A    0.651375
B    0.287639
C    0.060987
Name: weekly_sales, dtype: float64

In [266]:
# haftalik satislari tip ve tatil durumuna a gore guruplayiniz, 
# (cift guruplama: ornegin tipi A olan magazada tatil olma durumuna gore satis sayilari ... gibi)
satislar_tip_ve_tatile_gore = satislar.groupby(["type", "is_holiday"])["weekly_sales"].sum()


print(satislar_tip_ve_tatile_gore)

type  is_holiday
A     False         4.007612e+09
      True          3.234028e+08
B     False         1.765411e+09
      True          1.471081e+08
C     False         3.772478e+08
      True          2.825570e+07
Name: weekly_sales, dtype: float64