# CS125 Introduction to Data Analysis for Social Sciences Lab Guide 09

## Objectives: Pandas â€“ data manipulation (loc, iloc, square braces, boolean expressions)

In [1]:
import numpy as np
import pandas as pd

## 1. Download the file clinic_data.xlsx, and create a Python script that does the following:

### a. Import the data in the file into a DataFrame.

In [5]:
df = pd.read_excel("clinic_data.xlsx")
df

       doctor  year      month  patients
0      Benitz  2012   November       172
1       Modin  2013     August       272
2      Leabow  2014   November       203
3  Vandergard  2014  September       259
4      Largay  2014     August       293
5       Jonas  2015   February       233
6       Carli  2017   February       301
7        Palm  2019      April       396
8     Dukette  2018    October       407
9       Modin  2010   November       390

### b. Display the names of all doctors.

In [9]:
df["doctor"]

0        Benitz
1         Modin
2        Leabow
3    Vandergard
4        Largay
5         Jonas
6         Carli
7          Palm
8       Dukette
9         Modin
Name: doctor, dtype: object

### c. From the 1st and 4th columns, display the 3rd to the 5th rows (inclusive)

In [22]:
df.loc[2:4, ["doctor", "patients"]]

       doctor  patients
2      Leabow       203
3  Vandergard       259
4      Largay       293

### d. For all records, display the year, months and number of patients.  e

In [33]:
df.loc[:, "year":]

   year      month  patients
0  2012   November       172
1  2013     August       272
2  2014   November       203
3  2014  September       259
4  2014     August       293
5  2015   February       233
6  2017   February       301
7  2019      April       396
8  2018    October       407
9  2010   November       390

In [35]:
df.iloc[:, 1:]

   year      month  patients
0  2012   November       172
1  2013     August       272
2  2014   November       203
3  2014  September       259
4  2014     August       293
5  2015   February       233
6  2017   February       301
7  2019      April       396
8  2018    October       407
9  2010   November       390

### e. Display the records for visits in November.

In [32]:
df[(df.month == "November")]

   doctor  year     month  patients
0  Benitz  2012  November       172
2  Leabow  2014  November       203
9   Modin  2010  November       390

In [37]:
df.loc[(df["month"] == "November")]

   doctor  year     month  patients
0  Benitz  2012  November       172
2  Leabow  2014  November       203
9   Modin  2010  November       390

In [38]:
df.loc[(df.month == "November")]

   doctor  year     month  patients
0  Benitz  2012  November       172
2  Leabow  2014  November       203
9   Modin  2010  November       390

### f. Display the record with the maximum patients.  
(hint: to find the max, df.col_index.max())

In [50]:
# df["patients"].max()
# Bu cozum cok hosuma gitmedi, istedigimiz sonucu verdi ama...
#  Mutlaka daha guzel bir cozumu vardir.

df.loc[df.patients == df["patients"].max()]

    doctor  year    month  patients
8  Dukette  2018  October       407

### g. Display records from September of February.

In [53]:
df.loc[(df["month"] == "September") |
       (df["month"] == "February")]

       doctor  year      month  patients
3  Vandergard  2014  September       259
5       Jonas  2015   February       233
6       Carli  2017   February       301

### h. Display records after 2014 with fewer than 300 patients.

In [57]:
df.loc[(df["year"] > 2014) &
       (df["patients"] < 300)]

  doctor  year     month  patients
5  Jonas  2015  February       233

### i. Display records from September or February with over 250 patients.

In [59]:
df.loc[((df["month"] == "September") |
       (df["month"] == "February")) &
       (df["patients"] > 250)]

       doctor  year      month  patients
3  Vandergard  2014  September       259
6       Carli  2017   February       301

In [61]:
df_months = df.loc[(df["month"] == "September") |
                   (df["month"] == "February")]
df_months.loc[(df["patients"] > 250)]

       doctor  year      month  patients
3  Vandergard  2014  September       259
6       Carli  2017   February       301

### j. Set the first column in the DataFrame as the index.  
(Hint: df.set_index([â€˜column_labelâ€™], inplace = True)) By setting the inplace attribute to True, it will update the original DataFrame. k

In [64]:
df2 = df.copy()
df2.set_index(["doctor"], inplace = True)
df2

            year      month  patients
doctor
Benitz      2012   November       172
Modin       2013     August       272
Leabow      2014   November       203
Vandergard  2014  September       259
Largay      2014     August       293
Jonas       2015   February       233
Carli       2017   February       301
Palm        2019      April       396
Dukette     2018    October       407
Modin       2010   November       390

### k. Use loc[] to display the year and patients for doctors Benitz and Carli.

In [68]:
df2.loc[["Benitz", "Carli"]]

        year     month  patients
doctor
Benitz  2012  November       172
Carli   2017  February       301