# week-02 day-02

## lambda

In [10]:
new_sum = lambda a, b: a + b
print(new_sum(3, 4))

new_sum = lambda a, b, c: a + b + c
print(new_sum(3, 4, 5))

7
12

## map

In [4]:
maaslar = [1000, 2000, 3000, 4000, 5000]

print("for loop")
for maas in maaslar:
    print(maas*2)

print()
print("lambda")
list(map(lambda x: x*2, maaslar))

for loop
2000
4000
6000
8000
10000

lambda

[2000, 4000, 6000, 8000, 10000]

## filter

In [5]:
liste = [1,2,3,4,5,6,7,8,9,10]

list(filter(lambda x: x % 2 == 0, liste))

[2, 4, 6, 8, 10]

## reduce

In [6]:
from functools import reduce

liste = [1,2,3,4]

reduce(lambda a,b: a + b, liste)

10

## numpy

In [1]:
a = [1,2,3,4]
b = [2,3,4,5]

In [2]:
len(a)

4

In [3]:
b[0]

2

In [6]:
ab = []

for i in range(0, len(a)):
    ab.append(a[i] * b[i])

ab

[2, 6, 12, 20]

In [7]:
import numpy as np

In [8]:
a = np.array([1,2,3,4])
b = np.array([2,3,4,5])

a * b

array([ 2,  6, 12, 20])

In [10]:
# numpy / python liste farki
# performansli calisma imkani cunku sabit tipe zorlar ve icindeki her bir nesne icin sadece bir tane tip kullanilmasina zorlar
# daha az kod ile daha fazla islem yapma imkani saglar

In [11]:
type(a)

numpy.ndarray

In [12]:
np.zeros(10, dtype = int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [13]:
np.ones((3,5), dtype = int)

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [15]:
np.full((3,5), 5)

array([[5, 5, 5, 5, 5],
       [5, 5, 5, 5, 5],
       [5, 5, 5, 5, 5]])

In [16]:
np.arange(0,31,3)

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27, 30])

In [17]:
np.random.normal(10, 4, (3, 4))

array([[13.18355627, 10.74777935,  7.23553018, 13.8924937 ],
       [15.6143342 , 10.92142896,  9.25081877,  8.19365256],
       [ 8.90947584,  7.68915525,  8.55379305, 10.91032757]])

- ndim: boyut sayisi
- shape: boyut bilgisi
- size: toplam eleman sayisi
- dtype: array veri tipi

In [18]:
a.ndim

1

In [19]:
a.shape

(4,)

In [20]:
a.size

4

In [21]:
a.dtype

dtype('int32')

In [26]:
print(np.arange(1,10))
np.arange(1,10).reshape((3,3))

[1 2 3 4 5 6 7 8 9]

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [27]:
a

array([1, 2, 3, 4])

In [29]:
a[3]

4

## slice

In [31]:
a[1:3]

array([2, 3])

In [33]:
a = np.random.normal(10, 4, (3,4))

In [34]:
a[0,0]

8.548855988385334

In [35]:
a

array([[ 8.54885599,  3.67443743,  3.50197658, 13.42551655],
       [13.42671426,  5.9206366 ,  2.81338713, 14.80418456],
       [10.35079215,  2.9166315 , 10.75345702,  4.13771038]])

In [36]:
a[2,3]

4.1377103813719796

In [37]:
a[2,3] = 18.98

In [38]:
a

array([[ 8.54885599,  3.67443743,  3.50197658, 13.42551655],
       [13.42671426,  5.9206366 ,  2.81338713, 14.80418456],
       [10.35079215,  2.9166315 , 10.75345702, 18.98      ]])

In [39]:
a[2,3] = 99

In [40]:
a

array([[ 8.54885599,  3.67443743,  3.50197658, 13.42551655],
       [13.42671426,  5.9206366 ,  2.81338713, 14.80418456],
       [10.35079215,  2.9166315 , 10.75345702, 99.        ]])

In [41]:
# integer gonderdigimiz halde, liste ondalikli yaratildigi icin, interger i da ondalikli sayi haline dondurdu

In [42]:
a

array([[ 8.54885599,  3.67443743,  3.50197658, 13.42551655],
       [13.42671426,  5.9206366 ,  2.81338713, 14.80418456],
       [10.35079215,  2.9166315 , 10.75345702, 99.        ]])

In [44]:
a[:,0]

array([ 8.54885599, 13.42671426, 10.35079215])

In [46]:
a[:,1]

array([3.67443743, 5.9206366 , 2.9166315 ])

In [47]:
a[0:2, 0:3]

array([[ 8.54885599,  3.67443743,  3.50197658],
       [13.42671426,  5.9206366 ,  2.81338713]])

## fancy index

In [48]:
v = np.arange(0, 30, 3)
v

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27])

In [49]:
v[1]

3

In [50]:
v[3]

9

In [51]:
v[8]

24

In [52]:
al_getir = [1, 3, 8]

In [53]:
al_getir

[1, 3, 8]

In [54]:
v[al_getir]

array([ 3,  9, 24])

## kosullu eleman islemleri

In [57]:
v = np.array([1,2,3,4,5])
v

array([1, 2, 3, 4, 5])

In [58]:
v < 3

array([ True,  True, False, False, False])

In [59]:
v[v < 3]

array([1, 2])

In [60]:
v[v > 3]

array([4, 5])

In [61]:
v[v >= 3]

array([3, 4, 5])

In [62]:
v * 2

array([ 2,  4,  6,  8, 10])

In [63]:
v ** 2

array([ 1,  4,  9, 16, 25], dtype=int32)

## Pandas

pandas => panel data  
pandas ve numpy in en onemli farklarindan bir tanesi, numpy da index yokken, pandas dataframe lerde index vardir

### Pandas DataFrame

In [65]:
import pandas as pd

In [66]:
pd.Series([10, 88, 3, 4, 5])

0    10
1    88
2     3
3     4
4     5
dtype: int64

In [67]:
v[1]

2

In [68]:
l = [1,2,3,4,10]

In [69]:
type(l)

list

In [73]:
?pd.DataFrame

Init signature:
pd.DataFrame(
    data=None,
    index: Union[Collection, NoneType] = None,
    columns: Union[Collection, NoneType] = None,
    dtype: Union[str, numpy.dtype, ForwardRef('ExtensionDtype'), NoneType] = None,
    copy: bool = False,
)
Docstring:
Two-dimensional, size-mutable, potentially heterogeneous tabular data.

Data structure also contains labeled axes (rows and columns).
Arithmetic operations align on both row and column labels. Can be
thought of as a dict-like container for Series objects. The primary
pandas data structure.

Parameters
----------
data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
    Dict can contain Series, arrays, constants, or list-like objects.

    .. versionchanged:: 0.23.0
       If data is a dict, column order follows insertion-order for
       Python 3.6 and later.

    .. versionchanged:: 0.25.0
       If data is a list of dicts, column order follows insertion-order
       for Python 3.6 and later.

index : Index or array-like
    Index to use for resulting frame. Will default to RangeIndex if
    no indexing information part of input data and no index provided.
columns : Index or array-like
    Column labels to use for resulting frame. Will default to
    RangeIndex (0, 1, 2, ..., n) if no column labels are provided.
dtype : dtype, default None
    Data type to force. Only a single dtype is allowed. If None, infer.
copy : bool, default False
    Copy data from inputs. Only affects DataFrame / 2d ndarray input.

See Also
--------
DataFrame.from_records : Constructor from tuples, also record arrays.
DataFrame.from_dict : From dicts of Series, arrays, or dicts.
read_csv
read_table
read_clipboard

Examples
--------
Constructing DataFrame from a dictionary.

>>> d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4

Notice that the inferred dtype is int64.

>>> df.dtypes
col1    int64
col2    int64
dtype: object

To enforce a single dtype:

>>> df = pd.DataFrame(data=d, dtype=np.int8)
>>> df.dtypes
col1    int8
col2    int8
dtype: object

Constructing DataFrame from numpy ndarray:

>>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
...                    columns=['a', 'b', 'c'])
>>> df2
   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9
File:           c:\users\ydran\anaconda3\lib\site-packages\pandas\core\frame.py
Type:           type
Subclasses:     SubclassedDataFrame

In [76]:
pd.DataFrame(l, columns = ["Degisken_Ismi"])

   Degisken_Ismi
0              1
1              2
2              3
3              4
4             10

In [80]:
import numpy as np
m = np.arange(1,10).reshape((3,3))
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [83]:
df = pd.DataFrame(m, columns = ["VAR1", "VAR2", "VAR3"])
df

   VAR1  VAR2  VAR3
0     1     2     3
1     4     5     6
2     7     8     9

In [84]:
df.columns

Index(['VAR1', 'VAR2', 'VAR3'], dtype='object')

In [85]:
df.columns = ["deg1", "deg2", "deg3"]

In [86]:
df

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [87]:
df.shape

(3, 3)

In [88]:
df.ndim

2

In [89]:
df.size

9

In [90]:
df

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [91]:
type(df.values)

numpy.ndarray

### Eleman Islemleri

In [96]:
import numpy as np

s1 = np.random.randint(0, 10, size = 5)
s2 = np.random.randint(0, 10, size = 5)
s3 = np.random.randint(0, 10, size = 5)

In [95]:
print(s1)
print(s2)
print(s3)

[5 7 6 2 5]
[1 2 1 3 0]
[4 4 1 8 3]

In [97]:
sozluk = { "var1": s1, "var2": s2, "var3": s3 }

In [98]:
type(sozluk)

dict

In [100]:
pd.DataFrame(sozluk)

   var1  var2  var3
0     3     1     4
1     2     6     7
2     1     5     3
3     9     4     5
4     8     0     6

In [101]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [103]:
df.index = ["a", "b", "c"]

In [104]:
df

   deg1  deg2  deg3
a     1     2     3
b     4     5     6
c     7     8     9

In [102]:
df.columns

Index(['deg1', 'deg2', 'deg3'], dtype='object')

In [105]:
df.drop("a", axis = 0)

   deg1  deg2  deg3
b     4     5     6
c     7     8     9

In [107]:
df.drop("deg1", axis = 1)

   deg2  deg3
a     2     3
b     5     6
c     8     9